/* src/styles/DietHealthPreferences.css */
.diet-health-preferences {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.diet-health-preferences__icon {
  margin: 1rem;
  text-align: center;
  cursor: pointer;
}

.diet-health-preferences__icon .icon {
  font-size: 3rem;
}

.diet-health-preferences__icon:hover {
  color: #ff7f50;
}
