/* src/styles/SensoryMappingDashboard.css */
.sensory-mapping-dashboard {
  margin: 2rem;
}

.sensory-mapping-dashboard__control {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.sensory-mapping-dashboard__control label {
  width: 100px;
}

.sensory-mapping-dashboard__control input[type='range'] {
  flex-grow: 1;
  margin: 0 1rem;
}

.sensory-mapping-dashboard__control select {
  margin-left: 1rem;
}
