/* src/styles/UserDashboard.css */
.user-dashboard {
  margin: 2rem;
}

.user-dashboard__badges {
  display: flex;
  flex-wrap: wrap;
}

.user-dashboard__badge {
  background-color: #fcb69f;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin: 0.5rem;
}

.user-dashboard__recipes {
  list-style: none;
  padding: 0;
}

.user-dashboard__recipes li {
  margin: 0.5rem 0;
}
